<div class="page">

  <div class="top">
    <div class="header">TO SERVICE MEMBERS IN <span class="colored">SAN DIEGO</span>,</div>
    <div class="subheader">BUYING A <span class="colored">HOME</span>? WE GOT <span class="colored">YOU</span> COVERED.
    </div>
  </div>

  <ng-container *ngIf="step === 1">
    <div class="step-one">

      <div class="address-card">
        <div class="input-wrapper">
          <div class="label">HOME ADDRESS</div>
          <input type="text" placeholder="123 Main St, San Diego, CA" [(ngModel)]="address" />
        </div>
      </div>

    </div>

    <button (click)="goToStep2()" [disabled]="!address"> Explore PCS Purchase Options </button>
  </ng-container>

  <ng-container *ngIf="step === 2">
    <div class="step-two">

      <div class="contact-card">
        <label class="label">CONTACT INFORMATION</label>

        <input type="text" placeholder="First name" [(ngModel)]="firstName" />
        <input type="text" placeholder="Last name" [(ngModel)]="lastName" />
        <input type="email" placeholder="Email" [(ngModel)]="email" />
        <input type="tel" placeholder="Phone number" [(ngModel)]="phone" />



        <p class="note">
          Your information is used only to assist with your PCS home sale.
        </p>
      </div>

    </div>
    <button (click)="submitLead()">Submit</button>
  </ng-container>



  <!-- <p class="audience-note">
            Built specifically for San Diego military homeowners navigating PCS orders.
          </p> -->
  <!-- 
    <div class="process-container">
      <div class="process">
        <div class="number">1</div>
        <div class="text">Share your current home address</div>
      </div>
      <div class="process">
        <div class="number">2</div>
        <div class="text"> We review PCS-related options</div>

      </div>
      <div class="process">
        <div class="number">3</div>
        <div class="text">A specialist reaches out</div>

      </div>
    </div> -->
















  <!-- <footer class="footer">
    Independent relocation guidance. Not affiliated with the U.S. Department of Defense.
  </footer> -->
</div>